<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merry Christmas</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<h1>FELIZ NAVIDAD MI AMOR</h1>
<h1 class="second">Te quiero mucho y te regalo este arbolin :3</h1>
    <input type="checkbox" id="show-deco" checked />
<label for="show-deco">Show decorations</label>

<input type="checkbox" id="lights" />
<label for="lights">Lights on</label>

<div class="canvas yes-deco" role="img" aria-label="Cartoon of a Christmas tree">
  <div class="shadow"></div>
  <div class="trunk"></div>
  <div class="leaves bottom"></div>
  <div class="leaves middle"></div>
  <div class="leaves top"></div>
  <div class="deco decoration balls"></div>
  <div class="deco decoration decoration-1"></div>
  <div class="deco decoration decoration-2"></div>
  <div class="deco decoration lights">
    <div class="light"></div>
    <div class="light"></div>
    <div class="light"></div>
    <div class="light"></div>
    <div class="light"></div>
    <div class="light"></div>
  </div>
  <div class="deco star">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
  </div>
</div>


</body>
</html>